.logo {
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 99;
}

.inner-box {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.text-center {
    text-align: center;
}

.page {
    background-size: cover;
}

.page-1 {
    background-image: url(/public/images/overlay.png),url(../images/bg1.jpg);
}


.page-2 {
    background-image: url(/public/images/overlay.png),url(../images/bg2.jpg);
}

.page-3 {
    background-image: url(/public/images/overlay.png),url(/public/images/bg2.jpg);
}

.page-4 {
    background-image: url(/public/images/overlay.png),url(/public/images/bg3.jpg);
}

.page-5 {
    background-image: url(/public/images/overlay.png),url(/public/images/bg4.jpg);
}

.page a {
    color: #DCC7BE;
    text-decoration: underline;
}



.page-1 .inner-box h1 {
    color: #fff;
    font-size: 5rem;
    font-weight: 300;
}

.page-1 .inner-box h3 {
    color: #fff;
    font-size: 3rem;
    font-weight: 300;
    margin: 1em 0 0.3em;
}

.page-1 .inner-box p {
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    margin: 1.2rem 0 1.6rem;
}

.page-1 .inner-box ul.social-icons li {
    display: inline-block;
}

.page-1 .inner-box ul.social-icons li a {
    display: inline-block;
    background-color: #fff;
    height: 60px;
    margin-right: 10px;
    width: 60px;
    border-radius: 50%;
}

.page-1 .inner-box ul.details {
    padding-top: 2rem;
}

.page-1 .inner-box ul.details li {
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    margin: 0 1rem;
    display: inline-block;
}

.page-1 .inner-box span.line {
    background: #c4c0cf none repeat scroll 0 0;
    display: block;
    height: 2px;
    position: absolute;
    width: 10%;
    bottom: 54%;
}

.page-1 .inner-box span.line-left {
    right: 31.6%;
}

.page-1 .inner-box span.line-right {
    right: 58.4%;
}



.page-3 .work{
    width: 25%;
    float: left;
    padding: 0 1rem;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}