<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta name="baidu-site-verification" content="Vs2SmizXxG" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="author" content="{{ site.author }}" />
    <meta name="renderer" content="webkit">
    <meta name="description" content="{{ page.description }}{{ site.description }}{{ site.author }},{{ site.title }}" />
    <meta name="keywords" content="{{ page.keywords }}{% if page.title %}{{ page.categories }}{% for tag in page.tags %},{{ tag }}{% endfor %},{% endif %}{{ site.author }},{{ site.title }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon" />
    <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="{{ site.feed }}" />
    <link rel="stylesheet" href="/public/font-awesome-4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/default.css">
    <link rel="stylesheet" href="/public/scroll/jquery.mCustomScrollbar.css">
    <script type="text/javascript" src="/public/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/public/scroll/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="/public/js/default.js"></script>
  </head>
  <body>
    <!--Header-->
    {% include header.html  %}
    <!--Header End-->
    <!--Sidebar-->
    {% include sidebar.html  %}
    <!--Sidebar End-->
    <!--Main-->
    {{ content }}
    <!--Main End-->
    <!--Float Btns-->
    {% include float-btns.html  %}
    <!--Float Btns End-->
    <!--Footer-->
    {% include footer.html  %}
    <!--Footer End-->
    <!-- 多说js加载开始，一个页面只需要加载一次 -->
    <script type="text/javascript">
    var duoshuoQuery = {short_name:"{{ site.short_name }}"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = 'http://static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
    <!-- 百度自动推送JS -->
    <script>
    (function() {
        var bp = document.createElement('script');
        bp.src = '//push.zhanzhang.baidu.com/push.js';
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
    </script>
  </body>
</html>
